<div class="content">
  <div class=" row">
    <div class=" col-12">
      <h2 class=" card-title">{{!update ? 'Add' : 'Update'}} Bus Order Veification</h2>
      <div class=" card card-custom">
        <form #FormBusOrderVerification="ngForm" (ngSubmit)="submit()">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <div class="form-group row">
                <label for="orderNo" class="col-sm-2 col-form-label text-right">Order No :</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="orderNo" placeholder="Order No" [(ngModel)]="model.OrderNo" name="OrderNo" required>
                </div>
                <label for="orderDate" class="col-sm-2 col-form-label text-right">Order Date :</label>
                <div class="col-sm-4">
                  <input type="date" class="form-control" (blur)="OrderBy()" [(ngModel)]="model.Orderdate" name="OrderDate" required>
                </div>
              </div>
            </div>
            <div class=" col-sm-6 text-right">
              <div class=" form-check">
                <label class=" form-check-label">
                  <input class=" form-check-input" type="checkbox" value="" name="IsClosed" [(ngModel)]="model.IsClosed">
                  <span class=" form-check-sign">
                    <span class=" check">Closed</span>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <li class="dropdown-divider"></li>
        <div class=" card-body row" style="margin-top: -20px;">
          <div class=" table-responsive col-sm-6" id="scrolLeft" style="overflow-y: auto;">
            <table class="table">
              <thead>
                <tr style="height: 88px;">
                  <th class="sort-custom">Date</th>
                  <th class="sort-custom" >Department</th>
                  <th class="sort-custom">Dormitory</th>
                  <th class="sort-custom">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of busOrderEntrys">
                  <td>{{data.orderEntryDate | date:'fullDate'}}</td>
                  <td *ngFor="let item of listDepartments" [ngClass]="{'d-none': item.id !== data.departmentId}">
                    {{item.name}}
                  </td>
                  <td *ngFor="let item of dormitory" [ngClass]="{'d-none': item.id !== data.dormitoryBlockId}">
                    {{item.name}}
                  </td>
                  <td>
                    <span class="badge badge-default">
                      {{data.busOrderVerificationHeaderId === null ? 'Open' : 'Close'}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive col-sm-6" id="scrolRight" style="overflow-y: auto;">
            <table class="table ">
              <thead>
                <tr>
                  <th *ngFor="let item of busTime" [attr.colspan]="item.length" class="text-center">
                    {{item[0].directionEnum === 1 ? "Dormitory to Office" : item[0].directionEnum === 2 ? "Office to Dormitory" : item[0].directionEnum === 3 ? "Night" : ""}}
                  </th>
                </tr>
                <tr>
                  <td *ngFor="let item of busTime2" class="text-center">
                    <b>{{item.time}}</b>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of busOrderEntrys">
                  <td *ngFor="let data of item.busOrderDetails" class="text-center" style="height: 40px;">
                    {{data.orderQty}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- for Sum data -->

          <div class=" table-responsive col-sm-6" id="scrolLeft" style="overflow: auto;">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-right">Total Order</th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="table-responsive col-sm-6" id="scrolRight" style="overflow: auto;">
            <table class="table ">
              <thead>
                <tr>
                  <td *ngFor="let item of sumVerification" class="text-center">
                    <b>{{item}}</b>
                  </td>
                </tr>
              </thead>
            </table>
          </div>
        </div>

        <li class="dropdown-divider"></li>
        
        <div class="ml-auto mr-3">
          <div class="row">
            <div class="col-sm-9 offset-sm-3 text-right">
              <button class="btn btn-default animation-on-hover btn-sm" type="submit"
                [disabled]="!FormBusOrderVerification.valid">
                Save
              </button>
              <button class="btn btn-danger animation-on-hover btn-sm" type="button" [routerLink]="['/busOrderVerification']"
                (click)="cancel()">Cancel</button>
            </div>
          </div>
        </div>
        </form>

      </div>
    </div>
  </div>
</div>