<div class="content">
  <div class="row">
    <div class="col-12">
      <h2 class="card-title">Meal Order Entry</h2>
      <div class="card card-custom">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <button
                (click)="filter = !filter"
                class="btn animation-on-hover"
                type="button"
                (click)="cancelFilter(filter ? 'Filter' : 'Close Filter')"
                [ngClass]="{ 'btn-danger': filter === false }"
                ngbTooltip="{{ filter ? 'Filter' : 'Close Filter' }}"
              >
                {{ filter ? "Filter" : "Close Filter" }}
              </button>
            </div>
            <div class="col-sm-6 text-right">
              <button
                class="btn btn-default animation-on-hover"
                type="button"
                ngbTooltip="Add New"
                [routerLink]="['/formMealOrderEntry']"
              >
                Add New
              </button>
            </div>
          </div>
        </div>
        <li class="dropdown-divider"></li>
        <div class="card-body row" style="margin-top: -20px;">
          <div
            class="table-responsive col-sm-6"
            id="scrolLeft"
            style="overflow-y: auto;"
          >
            <table class="table">
              <thead>
                <tr>
                  <th class="sort-custom" (click)="sortActive('date')">
                    Date
                    <i
                      class="tim-icons icon-minimal-up ml-2"
                      [ngClass]="{ 'sort-active': sortAscDate === true }"
                    ></i>
                  </th>
                  <th
                    class="sort-custom"
                    (click)="sortActive('departmentName')"
                  >
                    Department Name
                    <i
                      class="tim-icons icon-minimal-up ml-2"
                      [ngClass]="{
                        'sort-active': sortAscDepartmentName === false
                      }"
                    ></i>
                  </th>
                  <th class="text-center">ready for collect</th>
                  <th class="sort-custom text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr class="d-none filter">
                  <td class="form-group no-border">
                    <input type="text" class="form-control" #box id="box" />
                  </td>
                  <td class="form-group no-border">
                    <select
                      class="form-control"
                      #box1
                      id="box1"
                      (change)="OrderBy(box.value, box1.value)"
                    >
                      <option value="">Select One</option>
                      <option
                        *ngFor="let item of listDepartments"
                        value="{{ item.id }}"
                        >{{ item.name }}</option
                      >
                    </select>
                  </td>
                  <td colspan="3"></td>
                </tr>
                <tr *ngFor="let MealOrderEntry of MealOrderEntrys">
                  <td>{{ MealOrderEntry.orderEntryDate | date: "d MMM y" }}</td>
                  <td
                    *ngFor="let item of listDepartments"
                    [ngClass]="{
                      'd-none': item.id !== MealOrderEntry.departmentId
                    }"
                  >
                    {{ item.name }}
                  </td>
                  <td class="text-center">
                    <span
                      class="badge badge-default"
                      [ngClass]="[
                        !MealOrderEntry.isReadyToCollect
                          ? 'not-ready'
                          : 'badge-default'
                      ]"
                    >
                      {{ MealOrderEntry.isReadyToCollect ? "YES" : "NO" }}
                    </span>
                  </td>
                  <td class="td-actions text-center">
                    <button
                      class="btn btn-link btn-success btn-icon btn-sm"
                      container="body"
                      ngbTooltip="Edit Data"
                      placement="left"
                      type="button"
                      [routerLink]="['/formMealOrderEntry', MealOrderEntry.id]"
                    >
                      <i class="tim-icons icon-pencil"></i>
                    </button>
                    <button
                      class="btn btn-link btn-danger btn-icon btn-sm"
                      container="body"
                      ngbTooltip="Remove Data"
                      placement="left"
                      type="button"
                      (click)="deleteMealOrderEntrys(MealOrderEntry.id)"
                    >
                      <i class="tim-icons icon-simple-remove"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div
            class="table-responsive col-sm-6"
            id="scrolRight"
            style="overflow-y: auto;"
          >
            <table class="table">
              <thead>
                <tr>
                  <th
                    *ngFor="let MealOrderDetail of mealTypes"
                    class="text-center"
                  >
                    {{ MealOrderDetail.name }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="!filter" style="height: 63px;">
                  <td colspan="4"></td>
                </tr>
                <tr
                  *ngFor="let MealOrderEntry of MealOrderEntrys"
                  class="text-center"
                  style="height: 55px;"
                >
                  <td *ngFor="let item of MealOrderEntry.mealOrderDetails">
                    {{ item.orderQty }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- for pagination -->
        <div class="ml-auto mr-3">
          <ul class="pagination">
            <li>
              <label class="mr-1">Item Per Page</label>
              <select
                class="btn btn-default btn-simple btn-icon mr-5"
                style="height: 31px; width: 50px;"
                #Size
                (change)="changeSize(Size.value)"
              >
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
              </select>
            </li>
            <li
              (click)="startPage()"
              [ngClass]="{ 'd-lg-none': pagination.currentPage === 1 }"
            >
              <a
                href="javascript:void(0)"
                class="btn btn-default btn-simple btn-icon btn-sm"
              >
                <i class="tim-icons icon-double-left"></i>
              </a>
            </li>
            <li
              [ngClass]="{ 'd-lg-none': pagination.currentPage === 1 }"
              (click)="prevPage()"
            >
              <a
                href="javascript:void(0)"
                class="btn btn-default btn-simple btn-icon btn-sm"
              >
                <i class="tim-icons icon-minimal-left"></i>
              </a>
            </li>
            <li *ngFor="let item of arrayPage(); let i = index">
              <a
                href="javascript:void(0)"
                class="btn btn-default btn-simple btn-icon btn-sm"
                [ngClass]="{
                  active: i + 1 === pagination.currentPage,
                  'd-lg-none':
                    i + 1 > pagination.currentPage + 2 ||
                    i + 1 < pagination.currentPage
                }"
                (click)="clickMe(i + 1)"
              >
                <b>{{ i + 1 }}</b>
              </a>
            </li>
            <li
              [ngClass]="{
                'd-lg-none':
                  pagination.totalPages < 3 ||
                  pagination.totalPages === pagination.currentPage
              }"
            >
              <a
                href="javascript:void(0)"
                class="btn btn-default btn-simple btn-icon btn-sm"
                >...</a
              >
            </li>
            <li
              (click)="nextPage()"
              [ngClass]="{
                'd-lg-none': pagination.totalPages === pagination.currentPage
              }"
            >
              <a
                href="javascript:void(0)"
                class="btn btn-default btn-simple btn-icon btn-sm"
              >
                <i class="tim-icons icon-minimal-right"></i>
              </a>
            </li>
            <li
              (click)="endPage(pagination.totalPages)"
              [ngClass]="{
                'd-lg-none': pagination.totalPages === pagination.currentPage
              }"
            >
              <a
                href="javascript:void(0)"
                class="btn btn-default btn-simple btn-icon btn-sm"
              >
                <i class="tim-icons icon-double-right"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- end pagination -->
      </div>
    </div>
  </div>
</div>
