<div class="content content-custom" id="content">
  <div class=" row">
    <div class=" col-12">
      <h2 class=" card-title">{{!update ? 'Add' : 'Update'}} Dormitory & Blok Area Data</h2>
      <div class=" card">
        <div class=" card-body">
          <form #FormDormitory="ngForm" (ngSubmit)="submit()">
            <div class="form-group row no-border">
              <label class="col-sm-2 offset-sm-1 col-form-label">Code</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Please input for code here...." name="code"
                  required [(ngModel)]="model.code" #code="ngModel"
                  [ngClass]="{'is-invalid': code.invalid && (code.dirty || code.touched) }">
                <div class="invalid-feedback">Is required</div>
              </div>
            </div>
            <div class="form-group row no-border">
              <label class="col-sm-2 offset-sm-1 col-form-label">Name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Please input for name here...." name="name"
                  required [(ngModel)]="model.name" #name="ngModel"
                  [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched) }">
                <div class="invalid-feedback">Is required</div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-9 offset-sm-3">
                <button class="btn btn-default animation-on-hover btn-sm" type="submit"
                  [disabled]="!FormDormitory.valid">
                  {{!update ? 'Add' : 'Update'}}
                </button>
                <button class="btn btn-danger animation-on-hover btn-sm" (click)="cancel()" type="button"
                  [routerLink]="['/dormitory']">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>