<div class="content content-custom" id="content">
  <div class="row">
    <div class="col-12">
      <h2 class="card-title">Configuration Data</h2>
      <div class="card">
        <div class="card-body">
          <form #FormConfiguration="ngForm" (ngSubmit)="saveConfiguration()">
            <div class="row">
              <div class="col-6">
                <h5 style="font-weight: bold;">Bus Order Configuration</h5>
                <div class="form-group row no-border">
                  <label class="col-sm-6 offset-sm-1 col-form-label"
                    >Locked Bus Order Start 1</label
                  >
                  <div class="col-sm-5">
                    <input
                      type="time"
                      class="form-control"
                      placeholder="Please input for locked bus order here...."
                      name="lockedBusOrderStart1"
                      required
                      [(ngModel)]="model.lockedBusOrderStart1"
                      #lockedBusOrderStart1="ngModel"
                      [ngClass]="{
                        'is-invalid':
                          lockedBusOrderStart1.invalid &&
                          (lockedBusOrderStart1.dirty ||
                            lockedBusOrderStart1.touched)
                      }"
                    />
                    <div class="invalid-feedback">Is required</div>
                  </div>
                </div>
                <div class="form-group row no-border">
                  <label class="col-sm-6 offset-sm-1 col-form-label"
                    >Locked Bus Order End 1</label
                  >
                  <div class="col-sm-5">
                    <input
                      type="time"
                      class="form-control"
                      placeholder="Please input for locked bus order here...."
                      name="lockedBusOrderEnd1"
                      required
                      [(ngModel)]="model.lockedBusOrderEnd1"
                      #lockedBusOrderEnd1="ngModel"
                      [ngClass]="{
                        'is-invalid':
                          lockedBusOrderEnd1.invalid &&
                          (lockedBusOrderEnd1.dirty ||
                            lockedBusOrderEnd1.touched)
                      }"
                    />
                    <div class="invalid-feedback">Is required</div>
                  </div>
                </div>
                <div class="form-group row no-border">
                  <label class="col-sm-6 offset-sm-1 col-form-label"
                    >Locked Bus Order Start 2</label
                  >
                  <div class="col-sm-5">
                    <input
                      type="time"
                      class="form-control"
                      placeholder="Please input for locked bus order here...."
                      name="lockedBusOrderStart2"
                      required
                      [(ngModel)]="model.lockedBusOrderStart2"
                      #lockedBusOrderStart2="ngModel"
                      [ngClass]="{
                        'is-invalid':
                          lockedBusOrderStart2.invalid &&
                          (lockedBusOrderStart2.dirty ||
                            lockedBusOrderStart2.touched)
                      }"
                    />
                    <div class="invalid-feedback">Is required</div>
                  </div>
                </div>
                <div class="form-group row no-border">
                  <label class="col-sm-6 offset-sm-1 col-form-label"
                    >Locked Bus Order End 2</label
                  >
                  <div class="col-sm-5">
                    <input
                      type="time"
                      class="form-control"
                      placeholder="Please input for locked bus order here...."
                      name="lockedBusOrderEnd2"
                      required
                      [(ngModel)]="model.lockedBusOrderEnd2"
                      #lockedBusOrderEnd2="ngModel"
                      [ngClass]="{
                        'is-invalid':
                          lockedBusOrderEnd2.invalid &&
                          (lockedBusOrderEnd2.dirty ||
                            lockedBusOrderEnd2.touched)
                      }"
                    />
                    <div class="invalid-feedback">Is required</div>
                  </div>
                </div>
              </div>

              <div class="col-6">
                <h5 style="font-weight: bold;">Meal Order Configuration</h5>
                <div class="form-group row no-border">
                  <label class="col-sm-6 offset-sm-1 col-form-label"
                    >Locked Meal Order</label
                  >
                  <div class="col-sm-5">
                    <input
                      type="time"
                      class="form-control"
                      placeholder="Please input for locked meal order here...."
                      name="lockedMealOrder"
                      required
                      [(ngModel)]="model.lockedMealOrder"
                      #lockedMealOrder="ngModel"
                      [ngClass]="{
                        'is-invalid':
                          lockedMealOrder.invalid &&
                          (lockedMealOrder.dirty || lockedMealOrder.touched)
                      }"
                    />
                    <div class="invalid-feedback">Is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-9 offset-sm-3">
                <button
                  class="btn btn-default animation-on-hover btn-sm"
                  type="submit"
                  [disabled]="!FormConfiguration.valid"
                >
                  Save
                </button>
                <button
                  class="btn btn-danger animation-on-hover btn-sm"
                  (click)="cancel()"
                  type="button"
                  [routerLink]="['/dashboard']"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
